.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.counter > p {
  background-color: blanchedalmond;
  width: 30%;
  text-align: center;
  align-content: center;
}

.button {
  text-align: center;
  width: 10%;
}
